@import "tailwindcss";
@plugin "daisyui";

.btn {
  @apply rounded-md text-lg;
}

:root {
  /* Backgrounds - #EADBC8 */
  --color-base-100: #f8f0e5;
  --color-base-200: #eadbc8;
  --color-base-300: #dac0a3;

  /* Text and Buttons - #102C57 */
  --color-base-content: #102c57;
  --color-primary: #102c57;
  --color-primary-content: #eadbc8;
  --color-secondary: #102c57;
  --color-secondary-content: #eadbc8;
}
